<!DOCTYPE html>
<html lang="en">
<head>

	<title>Symetic Ing - Job Offers</title>
    <link rel="icon" href="images/logoTitle.png" type="image/icon type">
    <meta name="keywords" content="">
	<meta name="description" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- stylesheet css -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/nivo-lightbox.css">
	<link rel="stylesheet" href="css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="css/templatemo-style.css">



   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
	
	
	<!-- google web font css -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />

   
<!-- job section -->
<div id="job-header">
	
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-3"></div>

			<video autoplay muted loop id="myVideo">
				<source src="images/video.mp4" type="video/mp4">
				Your browser does not support HTML5 video.
                
			  </video>

			  
			  
			  <script>
			  var video = document.getElementById("myVideo");
			 
			  
			  </script> 



  <div class="container">
    <div class="row">
         <div class="col-lg-10 mx-auto mb-4">
            <div class="section-title text-center ">
       
                <div class="container">	
                    <div class="button">
                        <span><a class="fa fa-reply-all" href="\"></a></span>
                        <div class="dot"></div>
                    </div>
                   
                </div>
                
                
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="career-search mb-60">

                

                <div class="filter-result">
                    <% jobs.forEach(function(job, index) { %>
                        <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                            <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                                <div class="<%= job.color %> mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                    <%= job.sort_name %>
                                </div>
                                <div class="job-content">
                                    <h5 class="text-center text-md-left"><%= job.title %></h5>
                                    <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                        <li class="mr-md-4">
                                            <i class="zmdi zmdi-pin mr-2"></i> <%= job.location%>
                                        </li>
                                        <li class="mr-md-4">
                                            <i class="zmdi zmdi-calendar mr-2"></i>  <%= moment(job.date).format("DD-MM-YYYY") %>
                                        </li>
                                        <li class="mr-md-4">
                                            <i class="zmdi zmdi-time mr-2"></i><%= job.type %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="job-right my-4 flex-shrink-0">
                                <a href="/job-offers?job=<%= job._id %>" class="btn d-block w-100 d-sm-inline-block btn-light">Apply now</a>
                            </div>
                        </div>
                    <% }) %>
                
                </div>
            </div>

            <!-- START Pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-reset justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                            <i class="zmdi zmdi-long-arrow-left"></i>
                        </a>
                    </li>
                    <% for(let i=0;i<totalPages;i++) { %>
                        <li class="page-item"><a class="page-link" href="/job-offers?page=<%= i+1 %>"><%= i+1 %></a></li>
                    <% } %>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="zmdi zmdi-long-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- END Pagination -->
        </div>
    </div>

</div>

<style type="text/css">


:root {
	--bg: #3C465C;
	--primary: #1d67a6;
	--solid: #fff;
	--btn-w: 10em;
	--dot-w: calc(var(--btn-w)*.2);
	--tr-X: calc(var(--btn-w) - var(--dot-w));
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

* {box-sizing: border-box;}
*:before, *:after {box-sizing: border-box;}


h1 {
	color: var(--solid);
	font-size: 2.5rem;
	margin-top: 6rem;	
}
.button {
	position: relative;
	margin: 0 auto;
	width: var(--btn-w);
	color: var(--primary);
	border: .15em solid var(--primary);
	border-radius: 5em;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.3em;
	line-height: 2em;
	cursor: pointer;
    transform: translate(0%, 20%);	
}
.dot {
	content: '';
	position: absolute;
	top: 0;
	width: var(--dot-w);
	height: 100%;
	border-radius: 100%;
	transition: all 300ms ease;
	display: none;
}
.dot:after {
	content: '';
	position: absolute;
	left: calc(50% - .4em);
	top: -.4em;
	height: .8em;
	width: .8em;
	background: var(--primary);
	border-radius: 1em;
	border: .25em solid var(--solid);
	box-shadow: 0 0 .7em var(--solid),
				0 0 2em var(--primary);
}
.button:hover .dot,
.button:focus .dot {
	animation: atom 2s infinite linear;
	display: block;
}
@keyframes atom {
	0% {transform: translateX(0) rotate(0);}
	30%{transform: translateX(var(--tr-X)) rotate(0);}
	50% {transform: translateX(var(--tr-X)) rotate(180deg);}
	80% {transform: translateX(0) rotate(180deg);}
	100% {transform: translateX(0) rotate(360deg);}
}

   body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: left;
    background-color: rgb(0, 0, 0);
    

}
/* ===== Career ===== */
.career-form {
background-color: #4e63d7;
border-radius: 5px;
padding: 0 16px;
}

.career-form .form-control {
background-color: rgba(255, 255, 255, 0.2);
border: 0;
padding: 12px 15px;
color: #fff;
}

.career-form .form-control::-webkit-input-placeholder {
/* Chrome/Opera/Safari */
color: #fff;
}

.career-form .form-control::-moz-placeholder {
/* Firefox 19+ */
color: #fff;
}

.career-form .form-control:-ms-input-placeholder {
/* IE 10+ */
color: #fff;
}

.career-form .form-control:-moz-placeholder {
/* Firefox 18- */
color: #fff;
}

.career-form .custom-select {
background-color: rgba(255, 255, 255, 0.2);
border: 0;
padding: 12px 15px;
color: #fff;
width: 100%;
border-radius: 5px;
text-align: left;
height: auto;
background-image: none;
}

.career-form .custom-select:focus {
-webkit-box-shadow: none;
  box-shadow: none;
}

.career-form .select-container {
position: relative;
}

.career-form .select-container:before {
position: absolute;
right: 15px;
top: calc(50% - 14px);
font-size: 18px;
color: #ffffff;
content: '\F2F9';
font-family: "Material-Design-Iconic-Font";
}

.filter-result .job-box {
-webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  box-shadow: 0 0 35px 0 rgba(255, 255, 255, 0.2);
border-radius: 10px;
padding: 10px 35px;
backdrop-filter: blur(10px);
background: #ccc;

}

ul {
list-style: none; 
}

.list-disk li {
list-style: none;
margin-bottom: 12px;
}

.list-disk li:last-child {
margin-bottom: 0;
}

.job-box .img-holder {
height: 65px;
width: 65px;
background-color: #4e63d7;
background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #0760d3 100%);
font-family: "Open Sans", sans-serif;
color: #fff;
font-size: 22px;
font-weight: 700;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
  justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
  align-items: center;
border-radius: 65px;
}

.job-box .img-holder1 {
height: 65px;
width: 65px;
background-color: #4e63d7;
background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
background-image: linear-gradient(to right, rgba(79, 184, 53, 0.9) 0%, #4bec00 100%);
font-family: "Open Sans", sans-serif;
color: #fff;
font-size: 22px;
font-weight: 700;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
  justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
  align-items: center;
border-radius: 65px;
}

.job-box .img-holder2 {
height: 65px;
width: 65px;
background-color: #4e63d7;
background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
background-image: linear-gradient(to right, rgba(207, 131, 43, 0.9) 0%, #ff8800 100%);
font-family: "Open Sans", sans-serif;
color: #fff;
font-size: 22px;
font-weight: 700;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
  justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
  align-items: center;
border-radius: 65px;
}


.job-box .img-holder3 {
height: 65px;
width: 65px;
background-color: #4e63d7;
background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
background-image: linear-gradient(to right, rgba(83, 94, 81, 0.9) 0%, #798d77 100%);
font-family: "Open Sans", sans-serif;
color: #fff;
font-size: 22px;
font-weight: 700;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
  justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
  align-items: center;
border-radius: 65px;
}


.career-title {
background-color: #4e63d7;
color: #fff;
padding: 15px;
text-align: center;
border-radius: 10px 10px 0 0;
background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
}

.job-overview {
-webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
border-radius: 10px;
}

@media (min-width: 992px) {
.job-overview {
position: -webkit-sticky;
position: sticky;
top: 70px;
}
}

.job-overview .job-detail ul {
margin-bottom: 28px;
}

.job-overview .job-detail ul li {
opacity: 0.9;
font-weight: 600;
margin-bottom: 15px;
}

.job-overview .job-detail ul li i {
font-size: 20px;
position: relative;
top: 1px;
}

.job-overview .overview-bottom,
.job-overview .overview-top {
padding: 35px;
}

.job-content ul li {
font-weight: 600;
opacity: 0.9;
border-bottom: 1px solid #ccc;
padding: 10px 5px;
}

@media (min-width: 768px) {
.job-content ul li {
border-bottom: 0;
padding: 0;
}
}

.job-content ul li i {
font-size: 20px;
position: relative;
top: 1px;
}
.mb-30 {
margin-bottom: 20px;
}


* {
		box-sizing: border-box;
       
	  }
	  
	  body {
		margin: 0;
		font-family: Arial;
		font-size: 17px;
	  }
	  
	  #myVideo {
		position: fixed;
		right: 0;
		bottom: -100px;
		width: 1200px;
		min-width: 100%; 
		min-height: 100%;
	  }
	  
	  .content {
		position: fixed;
		bottom: 0;
		background: rgba(153, 110, 110, 0.5);
		color: #f1f1f1;
		width: 100%;
		padding: 20px;
	  }

</style>

<script type="text/javascript">

</script>

		</div>
	</div>
</div> 

</body>

<!-- footer section -->

<%- include('partials/footer'); %>

<!-- javascript js -->	
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>	
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/custom.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>