<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
    <link	rel="stylesheet" href="../css/jodit-3.18.4/build/jodit.min.css"/>
    <link rel="stylesheet" href="../assets/vendor/animate/animate.css">

  <link rel="stylesheet" href="../assets/css/bootstrap.css">

  <link rel="stylesheet" href="../assets/css/maicons.css">

  <link rel="stylesheet" href="../assets/vendor/owl-carousel/css/owl.carousel.css">

  <link rel="stylesheet" href="../assets/css/theme.css">
    <script src="../css/jodit-3.18.4/build/jodit.min.js"></script>

    <title>Symetic Ing - Job Offer</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light navbar-float">
    <div class="container">
    
    <img src="..\assets\img\logo.png" width = "7%">
    <a href="\" class="navbar-brand">SYMETIC<span class="text-primary"> ING.</span></a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarContent">
        <ul class="navbar-nav ml-lg-4 pt-3 pt-lg-0">
        <li class="nav-item active">
            <a href="\" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="\about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
            <a href="\services" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
            <a href="\job-offers" class="nav-link">Job Offers</a>
        </li>
        <li class="nav-item">
            <a href="\contact" class="nav-link">Contact</a>
        </li>
        </ul>
        <% if(user){ %>
          <div class="ml-auto">
            Welcome <strong><%= user.name %></strong> <a href="\logout" class="btn btn-outline rounded-pill">Logout</a>
          </div>
        <% }%>
          
    </div>
    </div>
</nav>



    <div class="container" style="margin-top: 120px;">
        <form action="/admin-path/<%=job._id%>" method="POST">

          <div class="row g-2" style="margin: 15px 0;" >
            <div class="col-md-7">
              <label for="companyName" class="form-label"><strong>Company Name</strong></label>
              <input type="text" name="companyName" class="form-control" aria-describedby="companyName" value="<%= job.companyName%>">
            </div>

            <div class="col-md-5">
              <label for="title" class="form-label"><strong>Job Title</strong></label>
              <input type="text" name="title" class="form-control" aria-describedby="companyName" value="<%= job.title%>">
            </div>

          </div>
            
            
            <div class="row g-1" style="margin-bottom: 10px;  padding: 0 15px;">


              <div class="col-md-12">
                <!-- <label for="location" class="form-label"><strong>Location</strong></label> -->
                <strong>Location:</strong><input type="text" name="location" class="form-control" aria-describedby="companyName" value="<%= job.location %>">
              </div>

            </div>

            <div class="row g-5" style="margin-bottom: 10px;  padding: 0 15px;">

              <div class="col-md-2">
                <select name="category" class="form-select" aria-label="Default select example">
                  <!-- <option selected>Job Category</option> -->
                  <option value="Energy" <%= job.category == 'Energy' ? 'selected' : '' %>>Energy</option>
                  <option value="Environment" <%= job.category == 'Environment' ? 'selected' : '' %>>Environment</option>
                  <option value="IT" <%= job.category == 'IT' ? 'selected' : '' %>>IT</option>
                  <option value="Industry" <%= job.category == 'Industry' ? 'selected' : '' %>>Industry</option>
                </select>
              </div>

              <!-- <div class="col-md-2">
                <label class="form-check-label"><strong>Job Type:</strong></label>
              </div> -->
              <div class="col-md-1"></div>
              <div class="col-md-4">
                <div class="form-check form-check-inline">
                  <strong> Job Type:&nbsp; </strong>
                  <input class="form-check-input" type="radio" name="type" value="Full Time" <%= job.type == 'Full Time' ? 'checked' : '' %>>
                  <label class="form-check-label">Full Time</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="type" value="Part Time" <%= job.type == 'Part Time' ? 'checked' : '' %>>
                  <label class="form-check-label">Part Time</label>
                </div>
              </div>

              <div class="col-md-3">
                <strong>Date: </strong><input type="date" id="jobDate" name="Date" value="<%=job.date.getFullYear()%>-<%=((job.date.getMonth()+1)<10 ? '0'+(job.date.getMonth()+1) : job.date.getMonth())%>-<%=(job.date.getDate()<10 ? '0'+job.date.getDate() : job.date.getDate())%>%>">
              </div>
              
              <div class="col-md-2">
                <select name="status" class="form-select" aria-label="Default select example">
                  <!-- <option selected>Job status</option> -->
                  <option value="Active" <%= job.status == 'Active' ? 'selected' : '' %>>Active</option>
                  <option value="Inactive" <%= job.status == 'Inactive' ? 'selected' : '' %>>Inactive</option>
                </select>
              </div>
            
            </div>
            <!-- value="<%=job.date.getFullYear()%>-<%=(job.date.getMonth()<12 ? "0"+job.date.getMonth() : job.date.getMonth())%>-<%=job.date.getDate()%>" -->
  
          

            <div class="col-md-12">
              <textarea name="description" id="editor"></textarea>
            </div>
            

            

            <button type="submit" class="btn btn-primary" style="margin: auto 0;">Submit</button>
        </form>
    </div>


    
    <script src="css/bootstrap/js/bootstrap.min.js"></script>
    
    <script>

      function htmlDecode(input){
        let e = document.createElement('div');
        e.innerHTML = input;
        let output = e.childNodes[0].nodeValue;
        e.remove();
        return output;
      }

      const editor = Jodit.make('#editor');

      let preValue = htmlDecode('<%= job.description %>');
      // let preValue = '<p>For <code>date</code> inputs, the value of <code>step</code> is given in days; and is treated as a number of milliseconds equal to 86,400,000 times the <code>step</code> value (the underlying numeric value is in milliseconds). The default value of <code>step</code> is 1, indicating 1 day.<br></p>';
      editor.value = preValue;
      // console.log(typeof(preValue));
      // console.log(typeof('<%= job.description %>'));
      // console.log(preValue);
      // console.log(toString('<%= job.description %>'));
      // editor.value = '<%= job.description %>'

      // function updateJob(id)
      // {
      //   fetch("/admin-path/"+id, { method: 'PUT'})
      //     .then(res => res.json())
      //     .then(data => {
      //       console.log(data.message);
      //       let msgHtml= null;
      //       if(data.message){
      //         msgHtml = `<div class="alert alert-success" role="alert">${data.message}</div>`;
      //       } else if(data.error){
      //         msgHtml =`<div class="alert alert-danger" role="alert">${data.error}</div>`;
      //       }
      //       const msg = document.getElementById("message");
      //       const jobTOdelete = document.getElementById(id);
      //       jobTOdelete.remove();
      //       // msg
      //       msg.innerHTML = msgHtml;
      //     });
      // }

    </script>
</body>
</html>